 BODY
     {
          font-size: 14px;
          font-family: "ו";
     }
OL LI
     {
          margin: 1px;
     }
       #con_approve
      {
            font-size: 14px;
            margin: 0px auto;
            width: 100%;
        }
        #tags_approve
        {
            padding-right: 0px;
            padding-left: 0px;
            padding-bottom: 0px;
            margin: 0px 0px 0px 10px;
            width: 100%;
            padding-top: 0px;
            height: 19px;
        }
        #tags_approve LI
        {
            background: url(../../images/tabimage/tab_left.jpg) no-repeat left bottom;
            float: left;
            margin-right: 1px;
            list-style-type: none;
            height: 18px;
        }
        #tags_approve LI A
        {
            padding-right: 10px;
            padding-left: 10px;
            background: url(../../images/tabimage/tab_right.jpg) no-repeat right bottom;
            float: left;
            padding-bottom: -2px;
            color: #999;
            line-height: 21px;
            padding-top: 0px;
            height: 18px;
            text-decoration: none;
            white-space: nowrap;
        }
        #tags_approve LI.emptyTag
        {
            background: none transparent scroll repeat 0% 0%;
            width: 4px;
        }
        #tags_approve LI.selectTag
        {
            background-position: left top;
            /*margin-bottom: -2px;*/
            position: relative;
            /*height: 21px;*/
        }
        #tags_approve LI.selectTag A
        {
            background-position: right top;
            color: #000;
            /*line-height: 19px;*/
            /*height: 19px;*/
        }
        #tagContent_approve
        {
            border-right: #aecbd4 0px solid;
            padding-right: 0px;
            border-top: #118bf4 2px solid;
            padding-left: 0px;
            padding-bottom: 0px;
            border-left: #aecbd4 0px solid;
            padding-top: 2px;
            border-bottom: #aecbd4 0px solid;
            background-color: #fff;

        }
        .tagContent_approve
        {
            padding-right: 10px;
            display: none;
            padding-left: 10px;
            background-color : #ffffff;
            padding-bottom: 2px;
            width: 100%;
            color: #474747;
            padding-top: 1px;
            height: 100%; 
        }
        #tagContent_approve DIV.selectTag
        {
            display: block;
            
        }
        .textarea_classname{
	          width:90%;
	          height:70px;
	          border-width: 1px;
	          border-color: #6699CC;
	          border-style:solid;
	        
        }
        
        .input_text_classname{
              width: 25%;
	          border-width: 1px;
	          border-color: #6699CC;
	          border-style:solid;
        
        }
        



