        BODY
        {
            font-size: 14px;
          font-family: "ו";
        }
        OL LI
        {
             margin: 1px;
        }
        #con
        {
            font-size: 14px;
            margin: 0px auto;
            width: 100%;
            height: 24px;
        }
        #tags
        {
            padding-right: 0px;
            padding-left: 0px;
            padding-bottom: 0px;
            margin: 0px 0px 0px 10px;
            width: 100%;
            padding-top: 0px;
            height: 25px;
        }
        #tags LI
        {
            background: url(../../images/tabimage/ziliao_1.gif) no-repeat left bottom;
            float: left;
            margin-right: 2px;
            list-style-type: none;
            height: 24px;
        }
        #tags LI A
        {
            padding-right: 10px;
            padding-left: 10px;
            background: url(../../images/tabimage/ziliao_1_1.gif) no-repeat right bottom;
            float: left;
            padding-bottom: -2px;
            padding-top: 2px;
            color: #444;
            /*line-height: 20px;*/
            height: 22px;
            text-decoration: none;
            white-space: nowrap;
        }
        #tags LI.emptyTag
        {
            background: none transparent scroll repeat 0% 0%;
            width: 4px;
        }
        #tags LI.selectTag
        {
            background-position: left top;
            margin-bottom: -2px;
            position: relative;
            height: 25px;
            color: #373737;
        }
        #tags LI.selectTag A
        {
            background-position: right top;
            color: #000;
            line-height: 20px;
            height: 20px;
        }
        #tagContent
        {
            border-right: #aecbd4 1px solid;
            padding-right: 0px;
            border-top: #aecbd4 1px solid;
            padding-left: 1px;
            padding-bottom: 1px;
            border-left: #aecbd4 1px solid;
            padding-top: 1px;
            border-bottom: #aecbd4 1px solid;
            background-color: #fff;
        }
        .tagContent
        {
            background: url(../../images/workflow/propWin/bg.gif) repeat-x;     
            padding-right: 10px;
            display: none;
            padding-left: 10px;
            padding-bottom: 2px;
            width: 100%;
            color: #474747;
            padding-top: 1px;
            height: 100%; 
        }
		.x-form-field{
			font-family:tahoma,arial,helvetica,sans-serif;
			font-size:12px;
			font-size-adjust:none;
			font-stretch:normal;
			font-style:normal;
			font-variant:normal;
			font-weight:normal;
			line-height:normal;
			margin:0;
			background:#FFFFFF url(../images/default/form/text-bg.gif) repeat-x scroll 0 0;
			border:1px solid #B5B8C8;
			padding:1px 3px;
			width:200px;
			overflow:hidden;
		} 
		.x-form-field-line{
			font-family:tahoma,arial,helvetica,sans-serif;
			font-size:12px;
			font-size-adjust:none;
			font-stretch:normal;
			font-style:normal;
			font-variant:normal;
			font-weight:normal;
			line-height:normal;
			margin:0;
			background:#FFFFFF url(../images/default/form/text-bg.gif) repeat-x scroll 0 0;
			border:1px solid #B5B8C8;
			padding:1px 3px;
			width:100%;
			overflow:hidden;
		}  
		.x-window-bc{
			text-align:center;
			//padding-top:310px;
			width:406px;
		}
		.btn{
			BORDER-RIGHT:#7b9ebd 1px solid;
			PADDING-RIGHT:2px;
			BORDER-TOP:#7b9ebd 1px solid;
			PADDING-LEFT:2px;
			FONT-SIZE:12px;
			FILTER:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffffff,EndColorStr=#cecfde);
			BORDER-LEFT:#7b9ebd 1px solid;
			CURSOR:hand;
			COLOR:black;
			PADDING-TOP:2px;
			BORDER-BOTTOM:#7b9ebd 1px solid
		}      

        #tagContent DIV.selectTag
        {
            display: block;
        }